.navbar {
    background-color: rgb(132, 255, 0);
}
.navbar-brand {
    color: rgb(0, 229, 255);
}
.container{
    background-color: rgb(165, 112, 47);
}
.nav-link{
    color: black;
    margin-right: 10px;
}
.nav-item{
    margin-right: 30px;
}