/* login.scss */

.container {
    max-width: 400px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the form horizontally */
  }
  
  .login_box {
    border: 1px solid #ccc; /* Add a border for visual separation */
    border-radius: 5px; /* Add rounded corners */
    padding: 20px;
    background-color: #f9f9f9; /* Set a light background color */
  }
  
  h2 {
    text-align: center; 
  }
  
  .form-group {
    margin-bottom: 20px; 
  }
  
  .form-control {
    width: 100%; 
  }
  
  .btn-primary {
    width: 100%; 
  }
  
  .msg {
    text-align: center;
      margin-top: 20px; 
  }